.teamList {
  display: flex;
  flex-direction: flex-row;
  flex-wrap: wrap;
  justify-content: start;
}

.homepage {
  justify-content: center;
}

.meetTheTeam {
  background: url('./img/meet-the-team.svg') no-repeat;
  background-position: center;
  height: 4.5rem;
  margin: 0 0 2rem;
  font-size: 0;
}

.teamMember {
  width: 12rem;
  padding: 0 0.25rem 2rem;
  color: inherit;
  flex-grow: 0;
}

.avatar {
  margin: 0 auto;
  border-radius: 50%;
  height: var(--ifm-avatar-photo-size-xl);
  width: var(--ifm-avatar-photo-size-xl);
  display: block;
  overflow: hidden;
}

.avatarImage {
  height: 100%;
  object-fit: cover;
}

.name {
  color: var(--ifm-heading-color);
  font-size: 110%;
  font-weight: bold;
  margin: 0.5rem 0 0.25rem;
}

.title {
  color: var(--ifm-color-content);
  line-height: 1.3;
}

.teamMember:hover {
  text-decoration: none;
}

.teamMember:hover .avatar {
  transform: scale(1.05);
  transition-duration: 75ms;
}

.teamMember:hover .name {
  text-decoration: underline;
}
